<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>


<ion-content>

  <ion-card>

    <div class="input-outer-padding">
      <div class="input-inner-padding">
        <ion-searchbar #mainSearch id="search-field" class="input-field ion-no-padding ion-no-margin"
                       placeholder="Search..." autocomplete="on" color="dark" inputmode="search"
                       type="search"
                       showCancelButton="focus" (keyup.enter)="search(mainSearch.value)" animated>
        </ion-searchbar>
      </div>
      <ion-button class="search-confirm ion-no-margin" id="search-button" color="secondary"
                  (click)="search(mainSearch.value)">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </div>


    <ion-item>
      <ion-label>Specify a search category</ion-label>
      <ion-select [(ngModel)]="searchCategory"  value="Category" interface="alert" ok-text="OK" cancel-text="Cancel">
        <ion-select-option value="everything" selected>Everything</ion-select-option>
        <ion-select-option value="services">Services</ion-select-option>
        <ion-select-option value="serviceName">Service Name</ion-select-option>
        <ion-select-option value="serviceCategory">Service Category</ion-select-option>
        <ion-select-option value="serviceDescription">Service Description</ion-select-option>
        <ion-select-option value="servicePrice">Service Price</ion-select-option>
        <ion-select-option value="serviceAvailability">Service Availability</ion-select-option>
        <ion-select-option value="servicePlace">Service Place</ion-select-option>
        <ion-select-option value="serviceQuantity">Service Quantity</ion-select-option>
        <ion-select-option value="events">Events</ion-select-option>
        <ion-select-option value="eventName">Event Name</ion-select-option>
        <ion-select-option value="eventDescription">Event Description</ion-select-option>
        <ion-select-option value="eventDate">Event Date</ion-select-option>
        <ion-select-option value="eventPlace">Event Place</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-card-content class="ion-margin-top">
      <ion-text color="secondary">
        <h1 id="results"></h1>
      </ion-text>

    </ion-card-content>

  </ion-card>


</ion-content>
