.input-outer-padding {
  position: relative;
  overflow: hidden;
}

.input-inner-padding {
  width: auto;
  height: auto;
  padding: 0;
}

.input-field {
  width: 100%;
  display: block;
  /*resets for hiding the input boundaries */
  border: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
  font-family: sans-serif;
  font-size: 16px;
}

.search-confirm {
  height:100%;
  padding: 0;
  /* here the magic begins */
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  --border-radius: 0;
}



.search-confirm:hover {
}
