<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>


<ion-content>

  <ion-card>

    <div class="input-outer-padding">
      <div class="input-inner-padding">
        <ion-searchbar #mainSearch id="search-field" class="input-field ion-no-padding ion-no-margin"
                       placeholder="Search..." autocomplete="on" color="dark" inputmode="search"
                       type="search"
                       showCancelButton="focus" (keyup.enter)="search(mainSearch.value)" animated>
        </ion-searchbar>
      </div>
      <ion-button class="search-confirm ion-no-margin" id="search-button" color="secondary"
                  (click)="search(mainSearch.value)">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </div>


    <ion-item>
      <ion-label>Specify a search category</ion-label>
      <ion-select [(ngModel)]="searchCategory"  value="Category" interface="alert" ok-text="OK" cancel-text="Cancel">
        <ion-select-option value="everything" selected>Everything</ion-select-option>
        <ion-select-option value="services">Services</ion-select-option>
        <ion-select-option value="serviceName">Service Name</ion-select-option>
        <ion-select-option value="serviceCategory">Service Category</ion-select-option>
        <ion-select-option value="serviceDescription">Service Description</ion-select-option>
        <ion-select-option value="servicePrice">Service Price</ion-select-option>
        <ion-select-option value="serviceAvailability">Service Availability</ion-select-option>
        <ion-select-option value="servicePlace">Service Place</ion-select-option>
        <ion-select-option value="serviceQuantity">Service Quantity</ion-select-option>
        <ion-select-option value="events">Events</ion-select-option>
        <ion-select-option value="eventName">Event Name</ion-select-option>
        <ion-select-option value="eventDescription">Event Description</ion-select-option>
        <ion-select-option value="eventDate">Event Date</ion-select-option>
        <ion-select-option value="eventPlace">Event Place</ion-select-option>
      </ion-select>
    </ion-item>

    
    <ion-card-content *ngIf="searched">
      <ion-list *ngIf="foundResult; else noResultsFound">
        <ion-list-header>
          These results were found:
        </ion-list-header>

        <ion-list *ngIf="foundServices">

        <ion-item *ngFor="let service of services">
          <ion-avatar slot="start">
            <img src="../../../assets/verified_user-24px.svg" alt="verified avatar">
          </ion-avatar>
          <ion-label>
            <h2>{{service.name}}</h2>
            <h3>{{service.description}}</h3>
            <p>{{'ID: ' + service.id}}</p>
          </ion-label>
          <ion-icon slot="end" name="checkmark" color="success"></ion-icon>
        </ion-item>

        </ion-list>

        <ion-list *ngIf="foundEvents">

          <ion-item *ngFor="let event of events">
            <ion-avatar slot="start">
              <img src="../../../assets/verified_user-24px.svg" alt="verified avatar">
            </ion-avatar>
            <ion-label>
              <h2>{{event.name}}</h2>
              <h3>{{event.description}}</h3>
              <p>{{'ID: ' + event.id}}</p>
            </ion-label>
            <ion-icon slot="end" name="checkmark" color="success"></ion-icon>
          </ion-item>

        </ion-list>

        <ion-list *ngIf="foundUsers">

          <ion-item *ngFor="let user of users">
            <ion-avatar slot="start">
              <img src="../../../assets/verified_user-24px.svg" alt="verified avatar">
            </ion-avatar>
            <ion-label>
              <h2>{{user.getFullName()}}</h2>
              <h3>{{user.email}}</h3>
              <p>{{'ID: ' + user.id}}</p>
            </ion-label>
            <ion-icon slot="end" name="checkmark" color="success"></ion-icon>
          </ion-item>

        </ion-list>

      </ion-list>

      <ng-template #noResultsFound>
        <ion-list-header>
          This search found no results. Please try again.
        </ion-list-header>
      </ng-template>
    </ion-card-content>

  </ion-card>


</ion-content>
