<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>


<ion-content>
  <ion-card>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-item>
          <p>{{ data }}</p>
        </ion-item>
      </ion-col>
    </ion-row>

    
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button type="button" [routerLink]="['/profile']" color="dark" fill="outline" class="profile"
                    expand="block">
          <ion-icon slot="start" name="person" class="ion-padding-end"></ion-icon>
          Profile
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isAdmin()" class="ion-margin-top">
      <ion-col>
        <ion-button type="button" [routerLink]="['/admin/users']" color="dark" fill="outline" class="profile"
                    expand="block">
          <ion-icon slot="start" name="person" class="ion-padding-end"></ion-icon>
          User Admin
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button type="button" (click)="logout()" color="dark" fill="outline" class="profile" expand="block">
          <ion-icon slot="start" name="log-out" class="ion-padding-end"></ion-icon>
          Logout
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-card>
</ion-content>
