<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>


<ion-content>
  <ion-card>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-item>
          <p>{{ data }}</p>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button type="button" [routerLink]="['/search']" color="dark" fill="outline" class="profile"
                    expand="block">
          <ion-icon slot="start" name="search" class="button-icon"></ion-icon>
          Search
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="this.user.id" class="ion-margin-top">
      <ion-col>
        <ion-button type="button" [routerLink]="['/user/profile/', this.user.id]" color="dark" fill="outline"
                    class="profile"
                    expand="block">
          <ion-icon slot="start" name="person" class="button-icon"></ion-icon>
          View Profile
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button type="button" [routerLink]="['/profile']" color="dark" fill="outline" class="profile"
                    expand="block">
          <ion-icon slot="start" name="create" class="button-icon"></ion-icon>
          Edit Profile
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="this.user.isServiceProvider" class="ion-margin-top">
      <ion-col>
        <ion-button type="button" [routerLink]="['/profile/', 'services']" color="dark" fill="outline"
                    class="profile"
                    expand="block">
          <ion-icon slot="start" name="build" class="button-icon"></ion-icon>
          Manage Services
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="this.user.isEventManager" class="ion-margin-top">
      <ion-col>
        <ion-button type="button" [routerLink]="['/profile/', 'events']" color="dark" fill="outline"
                    class="profile"
                    expand="block">
          <ion-icon slot="start" name="gift" class="button-icon"></ion-icon>
          Manage Events
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="this.user.isAdmin" class="ion-margin-top">
      <ion-col>
        <ion-button type="button" [routerLink]="['/admin/users']" color="dark" fill="outline" class="profile"
                    expand="block">
          <ion-icon slot="start" name="people" class="button-icon"></ion-icon>
          User Admin
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button type="button" (click)="logout()" color="dark" fill="outline" class="profile" expand="block">
          <ion-icon slot="start" name="log-out" class="button-icon"></ion-icon>
          Logout
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-card>
</ion-content>
