<ion-header>
  <ion-toolbar>
    <app-header class="service-requests" [title]="title">
    </app-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="requestData != null; else nodata">
    <ion-card class="constrained-card ion-margin ion-no-padding">
      <ion-card-header class="ion-no-margin" color="dark">
        <ion-card-title>
          <ion-label>
            From: {{ requestData.userName }}
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-no-margin ion-no-padding">
        <ion-item><b>Event:</b>
          <ion-label class="ion-margin ion-text-wrap">{{ requestData.eventName }}</ion-label>
        </ion-item>
        <ion-item><b class="ion-text-wrap">Message:</b>
          <ion-label class="ion-margin ion-text-wrap"> {{ requestData.message }}</ion-label>
        </ion-item>
        <ion-item><b class="ion-text-wrap">Ask / reply to:</b>
          <ion-label class="ion-margin ion-text-wrap"> {{ requestData.userEmail }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="Enter your reply here ..." [(ngModel)]="reply">
          </ion-textarea>
        </ion-item>

        <ion-row class="ion-justify-content-evenly ion-no-margin ion-no-padding ion-wrap ">
          <ion-col class="ion-align-self-start ion-no-margin ion-no-padding" size-xs="12" size-sm="4">
            <ion-button class="form-button submit-btn ion-no-margin" color="danger" type="button"
                        expand="full" (click)="confirmService(false)">
              <ion-icon slot="start" name="close"></ion-icon>
              Reject
            </ion-button>
          </ion-col>

          <ion-col class="ion-align-self-end ion-no-margin ion-no-padding " size-xs="12" offset-sm="4" size-sm="4">
            <ion-button class="form-button submit-btn ion-no-margin" color="primary" type="button"
                        expand="full" (click)="confirmService(true)">
              <ion-icon slot="start" name="checkmark"></ion-icon>
              Confirm
            </ion-button>
          </ion-col>
        </ion-row>


      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #nodata><p>There is no event information.</p></ng-template>
</ion-content>
