<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>

    <ion-row>
      <ion-card-content>
        <p>Welcome to the user administration!</p>
      </ion-card-content>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item-divider class="ion-margin-top" color="dark" sticky="true">
            <ion-label>
              <ion-icon class="form-icon" slot="start" name="mail"></ion-icon>
              Unapproved Users
            </ion-label>
          </ion-item-divider>

          <ion-item>
            <p>{{ unapprovedUsers }}</p>
          </ion-item>

          <ion-row>
            <ion-button class="submit-btn" expand="full" type="button" (click)="loadUnapprovedUsers()" color="tertiary">
              <ion-icon slot="start" name="download"></ion-icon>
              Load Unapproved Users
            </ion-button>
          </ion-row>


          <ion-item-divider class="ion-margin-top" color="dark" sticky="true">
            <ion-label>
              <ion-icon class="form-icon" slot="start" name="mail"></ion-icon>
              Approved Users
            </ion-label>
          </ion-item-divider>

          <ion-item>
            <p>{{ approvedUsers }}</p>
          </ion-item>

          <ion-row>
            <ion-button class="submit-btn" expand="full" type="button" (click)="loadApprovedUsers()" color="tertiary">
              <ion-icon slot="start" name="download"></ion-icon>
              Load Approved Users
            </ion-button>
          </ion-row>

        </ion-list>
      </ion-col>
    </ion-row>





  </ion-card>
</ion-content>
