<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>

    <ion-row>
      <ion-card-content>
        <p>Welcome to the user administration!</p>
      </ion-card-content>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item>
            <p>{{ data }}</p>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-button class="submit-btn" expand="full" type="button" (click)="loadUsers()" color="tertiary">
        <ion-icon slot="start" name="download"></ion-icon>
        Load Users
      </ion-button>
    </ion-row>

  </ion-card>
</ion-content>
