<ion-app>

  <ion-menu side="start" menuId="first" contentId="content">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Navigation</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content id="menu">
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item *ngFor="let pages of navigate" [routerLink]="pages.url" [class.active-item]="pages.active"
                    routerDirection="forward" detail>
            <ion-icon [name]="pages.icon" [class.active-item]="pages.active" slot="start"></ion-icon>
            {{pages.title}}
          </ion-item>

          <ion-item *ngIf="loggedIn" (click)="logout()" button="true" type="button" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            Logout
          </ion-item>

        </ion-menu-toggle>
      </ion-list>


    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>

</ion-app>
