<ion-header>
  <app-header class="profile" [title]="title">
  </app-header>
</ion-header>

<ion-content class="ion-margin ion-padding">
  <ion-card class="constrained-card ion-margin ion-no-padding">
    <ion-card-content class="ion-no-margin ion-no-padding">

      <form id="profileForm" class="profile" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col class="ion-no-margin ion-no-padding">
            <ion-list class="ion-no-margin ion-no-padding">

              <ion-item-divider class="page-divider" color="dark" sticky="true">
                <ion-icon class="divider-icon" slot="start" name="lock"></ion-icon>
                <ion-label>
                  Account Information
                </ion-label>
              </ion-item-divider>

              <ion-item>
                <ion-label position="floating">E-Mail
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="email" name="email" formControlName="email" autocomplete="email" required></ion-input>
              </ion-item>

              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of validationMessages.email">
                  <ion-chip class="validation-chip" color="danger" outline="true"
                            *ngIf="profileForm.get('email').hasError(validation.type) && (profileForm.get('email').dirty || profileForm.get('email').touched)">
                    <ion-icon name="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      {{validation.message}}
                    </ion-label>
                  </ion-chip>
                </ng-container>
              </div>


              <div formGroupName="matchingPasswords">

                <ion-item>
                  <ion-label position="floating">New password</ion-label>
                  <ion-input type="password" name="password" formControlName="password" autocomplete="new-password"
                  ></ion-input>
                </ion-item>

                <div class="validation-errors ion-text-wrap">
                  <ng-container *ngFor="let validation of validationMessages.password">
                    <ion-chip class="validation-chip" color="danger" outline="true"
                              *ngIf="profileForm.get('matchingPasswords').get('password').hasError(validation.type) && (profileForm.get('matchingPasswords').get('password').dirty || profileForm.get('matchingPasswords').get('password').touched)">
                      <ion-icon name="warning"></ion-icon>
                      <ion-label class="ion-text-wrap">
                        {{validation.message}}
                      </ion-label>
                    </ion-chip>
                  </ng-container>
                </div>

                <ion-item>
                  <ion-label position="floating">Confirm new password</ion-label>
                  <ion-input type="password" name="confirmPassword" formControlName="confirmPassword"
                             autocomplete="new-password"
                  ></ion-input>
                </ion-item>

                <div class="validation-errors ion-text-wrap">
                  <ng-container *ngFor="let validation of validationMessages.confirmPassword">
                    <ion-chip class="validation-chip" color="danger" outline="true"
                              *ngIf="profileForm.get('matchingPasswords').get('confirmPassword').hasError(validation.type) && (profileForm.get('matchingPasswords').get('confirmPassword').dirty || profileForm.get('matchingPasswords').get('confirmPassword').touched)">
                      <ion-icon name="warning"></ion-icon>
                      <ion-label class="ion-text-wrap">
                        {{validation.message}}
                      </ion-label>
                    </ion-chip>
                  </ng-container>
                </div>

              </div>

              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of validationMessages.matchingPasswords">
                  <ion-chip class="validation-chip" color="danger" outline="true"
                            *ngIf="profileForm.get('matchingPasswords').hasError(validation.type) && (profileForm.get('matchingPasswords').get('confirmPassword').dirty || profileForm.get('matchingPasswords').get('confirmPassword').touched)">
                    <ion-icon name="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      {{validation.message}}
                    </ion-label>
                  </ion-chip>
                </ng-container>
              </div>

              <ion-item-divider class="page-divider ion-margin-top" color="dark" sticky="true">
                <ion-icon class="divider-icon" slot="start" name="person"></ion-icon>
                <ion-label>
                  Personal Information
                </ion-label>
              </ion-item-divider>

              <ion-item>
                <ion-label position="floating">First Name
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" name="firstName" formControlName="firstName" autocomplete="given-name"
                           required></ion-input>
              </ion-item>

              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of validationMessages.firstName">
                  <ion-chip class="validation-chip" color="danger" outline="true"
                            *ngIf="profileForm.get('firstName').hasError(validation.type) && (profileForm.get('firstName').dirty || profileForm.get('firstName').touched)">
                    <ion-icon name="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      {{validation.message}}
                    </ion-label>
                  </ion-chip>
                </ng-container>
              </div>


              <ion-item>
                <ion-label position="floating">Last Name
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" name="lastName" formControlName="lastName" autocomplete="family-name"
                           required></ion-input>
              </ion-item>

              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of validationMessages.lastName">
                  <ion-chip class="validation-chip" color="danger" outline="true"
                            *ngIf="profileForm.get('lastName').hasError(validation.type) && (profileForm.get('lastName').dirty || profileForm.get('lastName').touched)">
                    <ion-icon name="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      {{validation.message}}
                    </ion-label>
                  </ion-chip>
                </ng-container>
              </div>


              <ion-item>
                <ion-label position="floating">Gender</ion-label>
                <ion-select name="gender" formControlName="gender" cancelText="Cancel" okText="OK">
                  <ion-select-option *ngFor="let gender of genders" [value]="gender">{{gender}}</ion-select-option>
                </ion-select>
              </ion-item>

              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of validationMessages.gender">
                  <ion-chip class="validation-chip" color="danger" outline="true"
                            *ngIf="profileForm.get('gender').hasError(validation.type) && (profileForm.get('gender').dirty || profileForm.get('gender').touched)">
                    <ion-icon name="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      {{validation.message}}
                    </ion-label>
                  </ion-chip>
                </ng-container>
              </div>


              <ion-item>
                <ion-label position="floating">Birthday</ion-label>
                <ion-input type="text" name="birthday" formControlName="birthday" placeholder="DD/MM/YYYY" autocomplete="bday"></ion-input>
              </ion-item>

              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of validationMessages.birthday">
                  <ion-chip class="validation-chip" color="danger" outline="true"
                            *ngIf="profileForm.get('birthday').hasError(validation.type) && (profileForm.get('birthday').dirty || profileForm.get('birthday').touched)">
                    <ion-icon name="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      {{validation.message}}
                    </ion-label>
                  </ion-chip>
                </ng-container>
              </div>


              <ion-item>
                <ion-label position="floating">Phone</ion-label>
                <ion-input type="tel" name="phone" formControlName="phone" autocomplete="tel"></ion-input>
              </ion-item>

              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of validationMessages.phone">
                  <ion-chip class="validation-chip" color="danger" outline="true"
                            *ngIf="profileForm.get('phone').hasError(validation.type) && (profileForm.get('phone').dirty || profileForm.get('phone').touched)">
                    <ion-icon name="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      {{validation.message}}
                    </ion-label>
                  </ion-chip>
                </ng-container>
              </div>


              <ion-item-divider class="page-divider ion-margin-top" color="dark" sticky="true">
                <ion-icon class="divider-icon" slot="start" name="map"></ion-icon>
                <ion-label>
                  Address
                </ion-label>
              </ion-item-divider>


              <ion-item>
                <ion-label position="floating">Street</ion-label>
                <ion-input type="text" name="street" formControlName="street" autocomplete="street-address"
                ></ion-input>
              </ion-item>

              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of validationMessages.street">
                  <ion-chip class="validation-chip" color="danger" outline="true"
                            *ngIf="profileForm.get('street').hasError(validation.type) && (profileForm.get('street').dirty || profileForm.get('street').touched)">
                    <ion-icon name="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      {{validation.message}}
                    </ion-label>
                  </ion-chip>
                </ng-container>
              </div>


              <ion-item>
                <ion-label position="floating">Postal Code</ion-label>
                <ion-input type="text" name="postalCode" formControlName="postalCode" autocomplete="postal-code"
                ></ion-input>
              </ion-item>

              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of validationMessages.postalCode">
                  <ion-chip class="validation-chip" color="danger" outline="true"
                            *ngIf="profileForm.get('postalCode').hasError(validation.type) && (profileForm.get('postalCode').dirty || profileForm.get('postalCode').touched)">
                    <ion-icon name="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      {{validation.message}}
                    </ion-label>
                  </ion-chip>
                </ng-container>
              </div>


              <ion-item>
                <ion-label position="floating">City</ion-label>
                <ion-input type="text" name="city" formControlName="city" autocomplete="address-level2"
                ></ion-input>
              </ion-item>

              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of validationMessages.city">
                  <ion-chip class="validation-chip" color="danger" outline="true"
                            *ngIf="profileForm.get('city').hasError(validation.type) && (profileForm.get('city').dirty || profileForm.get('city').touched)">
                    <ion-icon name="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      {{validation.message}}
                    </ion-label>
                  </ion-chip>
                </ng-container>
              </div>


              <ion-item>
                <ion-label position="floating">Country</ion-label>
                <ion-select name="country" formControlName="country" cancelText="Cancel" okText="OK">
                  <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}</ion-select-option>
                </ion-select>
              </ion-item>

              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of validationMessages.country">
                  <ion-chip class="validation-chip" color="danger" outline="true"
                            *ngIf="profileForm.get('country').hasError(validation.type) && (profileForm.get('country').dirty || profileForm.get('country').touched)">
                    <ion-icon name="warning"></ion-icon>
                    <ion-label class="ion-text-wrap">
                      {{validation.message}}
                    </ion-label>
                  </ion-chip>
                </ng-container>
              </div>


              <ion-item-divider class="page-divider ion-margin-top" color="dark" sticky="true">
                <ion-icon class="divider-icon" slot="start" name="flame"></ion-icon>
                <ion-label class="ion-text-wrap">
                  Events and services
                </ion-label>
              </ion-item-divider>


              <ion-item>
                <ion-label>I want to provide a service</ion-label>
                <ion-checkbox name="isServiceProvider" formControlName="isServiceProvider"></ion-checkbox>
              </ion-item>


              <ion-item>
                <ion-label>I want to plan an event</ion-label>
                <ion-checkbox name="isEventManager" formControlName="isEventManager"></ion-checkbox>
              </ion-item>


              <ion-button id="save-button" class="submit-btn ion-no-margin" expand="full" type="submit" color="primary"
                          [disabled]="!profileForm.valid">
                <ion-icon slot="start" name="save"></ion-icon>
                Save
              </ion-button>

            </ion-list>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
