<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>

    <ion-row>
      <ion-card-content>
        <p>Please register to be able to plan an event or offer your services.</p>
      </ion-card-content>
    </ion-row>

    <div class="registration-form">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item-divider class="ion-margin-top" color="dark">
                <ion-label>
                    <ion-icon class="formicon" slot="start" name="mail"></ion-icon>
                  Account Information
                </ion-label>
              </ion-item-divider>

              <ion-item>
                <ion-label position="floating">E-Mail</ion-label>
                <ion-input type="email" name="email" formControlName="email" required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.email">
                  <div class="error-message" *ngIf="registrationForm.get('email').hasError(validation.type) && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <div formGroupName="matchingPasswords">

              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" name="password" formControlName="password"  required></ion-input>
              </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of registrationMessages.password">
                    <div class="error-message" *ngIf="registrationForm.get('matchingPasswords').get('password').hasError(validation.type) && (registrationForm.get('matchingPasswords').get('password').dirty || registrationForm.get('matchingPasswords').get('password').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

              <ion-item>
                <ion-label position="floating">Confirm password</ion-label>
                <ion-input type="password" name="confirmPassword" formControlName="confirmPassword" required></ion-input>
              </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of registrationMessages.confirmPassword">
                    <div class="error-message" *ngIf="registrationForm.get('matchingPasswords').get('confirmPassword').hasError(validation.type) && (registrationForm.get('matchingPasswords').get('confirmPassword').dirty || registrationForm.get('matchingPasswords').get('confirmPassword').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

              </div>

                <div class="validation-errors">
                  <ng-container *ngFor="let validation of registrationMessages.matchingPasswords">
                    <div class="error-message" *ngIf="registrationForm.get('matchingPasswords').hasError(validation.type) && (registrationForm.get('matchingPasswords').get('confirmPassword').dirty || registrationForm.get('matchingPasswords').get('confirmPassword').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

              <ion-item-divider class="ion-margin-top" color="dark">
                <ion-label>
                  <ion-icon class="formicon" slot="start" name="person"></ion-icon>
                  Personal Information
                </ion-label>
              </ion-item-divider>

              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input type="text" name="firstName" formControlName="firstName"  required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.firstName">
                  <div class="error-message" *ngIf="registrationForm.get('firstName').hasError(validation.type) && (registrationForm.get('firstName').dirty || registrationForm.get('firstName').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input type="text" name="lastName" formControlName="lastName" required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.lastName">
                  <div class="error-message" *ngIf="registrationForm.get('lastName').hasError(validation.type) && (registrationForm.get('lastName').dirty || registrationForm.get('lastName').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Gender</ion-label>
                <ion-select name="gender" formControlName="gender" cancelText="Cancel" okText="OK">
                  <ion-select-option *ngFor="let gender of genders" [value]="gender">{{gender}}</ion-select-option>
                </ion-select>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.gender">
                  <div class="error-message" *ngIf="registrationForm.get('gender').hasError(validation.type) && (registrationForm.get('gender').dirty || registrationForm.get('gender').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Phone</ion-label>
                <ion-input type="tel" name="phone" formControlName="phone"  required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.phone">
                  <div class="error-message" *ngIf="registrationForm.get('phone').hasError(validation.type) && (registrationForm.get('phone').dirty || registrationForm.get('phone').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item-divider class="ion-margin-top" color="dark">
                <ion-label>
                  <ion-icon class="formicon" slot="start" name="pin"></ion-icon>
                  Address
                </ion-label>
              </ion-item-divider>

              <ion-item>
                <ion-label position="floating">Street</ion-label>
                <ion-input type="text" name="street" formControlName="street"  required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.street">
                  <div class="error-message" *ngIf="registrationForm.get('street').hasError(validation.type) && (registrationForm.get('street').dirty || registrationForm.get('street').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Zip Code</ion-label>
                <ion-input type="text" name="zip" formControlName="zip" required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.zip">
                  <div class="error-message" *ngIf="registrationForm.get('zip').hasError(validation.type) && (registrationForm.get('zip').dirty || registrationForm.get('zip').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">City</ion-label>
                <ion-input type="text" name="city" formControlName="city"  required></ion-input>

              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.city">
                  <div class="error-message" *ngIf="registrationForm.get('city').hasError(validation.type) && (registrationForm.get('city').dirty || registrationForm.get('city').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Country</ion-label>
                <ion-select name="country" formControlName="country" cancelText="Cancel" okText="OK">
                  <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}</ion-select-option>
                </ion-select>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.country">
                  <div class="error-message" *ngIf="registrationForm.get('country').hasError(validation.type) && (registrationForm.get('country').dirty || registrationForm.get('country').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>


              <ion-item-divider class="ion-margin-top" color="dark">
                <ion-label>
                  <ion-icon class="formicon" slot="start" name="clipboard"></ion-icon>
                  Terms & Conditions
                </ion-label>
              </ion-item-divider>


            <ion-button class="terms" type="button" routerDirection="forward" target="_blank" href="/terms" expand="block" color="medium" fill="outline">
              Terms & conditions
              <ion-icon class="leftmargin" slot="end" name="open"></ion-icon>
            </ion-button>


        <ion-item>
          <ion-label>I accept the terms and conditions</ion-label>
          <ion-checkbox name="terms" formControlName="terms"></ion-checkbox>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of registrationMessages.terms">
            <div class="error-message" *ngIf="registrationForm.get('terms').hasError(validation.type) && (registrationForm.get('terms').dirty || registrationForm.get('terms').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-row class="ion-margin-top">
          <ion-button class="submit-btn" expand="full" type="submit" [disabled]="!registrationForm.valid">
            <ion-icon slot="start" name="person-add"></ion-icon>
            Register</ion-button>
        </ion-row>

            </ion-list>
          </ion-col>
        </ion-row>

      </form>
    </div>

  </ion-card>
</ion-content>
