<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content class="ion-padding">




    <div class="registration-form">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item-divider class="ion-margin-top" color="dark" sticky="true">
                <ion-label>
                  <ion-icon class="divider-icon" slot="start" name="mail"></ion-icon>
                  Account Information
                </ion-label>
              </ion-item-divider>

              <ion-item>

                <ion-input autocomplete="email" formControlName="email" name="email" placeholder="E-Mail" required
                           type="email"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.email">
                  <div class="error-message"
                       *ngIf="registrationForm.get('email').hasError(validation.type) && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <div formGroupName="matchingPasswords">

                <ion-item>

                  <ion-input autocomplete="new-password" formControlName="password" name="password"
                             placeholder="Password" type="password"
                             required></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of registrationMessages.password">
                    <div class="error-message"
                         *ngIf="registrationForm.get('matchingPasswords').get('password').hasError(validation.type) && (registrationForm.get('matchingPasswords').get('password').dirty || registrationForm.get('matchingPasswords').get('password').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

                <ion-item>

                  <ion-input formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
                             type="password"
                             autocomplete="new-password"
                             required></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of registrationMessages.confirmPassword">
                    <div class="error-message"
                         *ngIf="registrationForm.get('matchingPasswords').get('confirmPassword').hasError(validation.type) && (registrationForm.get('matchingPasswords').get('confirmPassword').dirty || registrationForm.get('matchingPasswords').get('confirmPassword').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

              </div>

              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.matchingPasswords">
                  <div class="error-message"
                       *ngIf="registrationForm.get('matchingPasswords').hasError(validation.type) && (registrationForm.get('matchingPasswords').get('confirmPassword').dirty || registrationForm.get('matchingPasswords').get('confirmPassword').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item-divider class="ion-margin-top" color="dark" sticky="true">
                <ion-label>
                  <ion-icon class="divider-icon" slot="start" name="person"></ion-icon>
                  Personal Information
                </ion-label>
              </ion-item-divider>

              <ion-item>

                <ion-input autocomplete="given-name" formControlName="firstName" name="firstName"
                           placeholder="First Name" type="text"
                           required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.firstName">
                  <div class="error-message"
                       *ngIf="registrationForm.get('firstName').hasError(validation.type) && (registrationForm.get('firstName').dirty || registrationForm.get('firstName').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>

                <ion-input autocomplete="family-name" formControlName="lastName" name="lastName" placeholder="Last Name"
                           type="text"
                           required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.lastName">
                  <div class="error-message"
                       *ngIf="registrationForm.get('lastName').hasError(validation.type) && (registrationForm.get('lastName').dirty || registrationForm.get('lastName').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>

                <ion-input autocomplete="street-address" formControlName="street" name="street" placeholder="Street"
                           type="text"
                           required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.street">
                  <div class="error-message"
                       *ngIf="registrationForm.get('street').hasError(validation.type) && (registrationForm.get('street').dirty || registrationForm.get('street').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>

                <ion-input autocomplete="address-level2" formControlName="city" name="city" placeholder="City"
                           type="text"
                           required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.city">
                  <div class="error-message"
                       *ngIf="registrationForm.get('city').hasError(validation.type) && (registrationForm.get('city').dirty || registrationForm.get('city').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>

                <ion-input autocomplete="postal-code" formControlName="postalCode" name="postalCode"
                           placeholder="Postal Code" type="text"
                           required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.postalCode">
                  <div class="error-message"
                       *ngIf="registrationForm.get('postalCode').hasError(validation.type) && (registrationForm.get('postalCode').dirty || registrationForm.get('postalCode').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item-divider class="ion-margin-top" color="dark" sticky="true">
                <ion-label>
                  <ion-icon class="divider-icon" slot="start" name="clipboard"></ion-icon>
                  Terms & Conditions
                </ion-label>
              </ion-item-divider>


              <ion-button class="terms ion-text-capitalize" type="button" routerDirection="forward" target="_blank"
                          expand="block" fill="outline" href="/terms">
              <span class="ion-text-left">Read the terms
              <ion-icon class="left-margin" name="open"></ion-icon></span>
              </ion-button>


              <ion-item>
                <ion-label>I accept</ion-label>
                <ion-checkbox name="terms" formControlName="terms"></ion-checkbox>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of registrationMessages.terms">
                  <div class="error-message"
                       *ngIf="registrationForm.get('terms').hasError(validation.type) && (registrationForm.get('terms').dirty || registrationForm.get('terms').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-row class="ion-margin-top">
                <ion-button class="submit-btn" expand="full" type="submit" [disabled]="!registrationForm.valid"
                >
                  <ion-icon slot="start" name="person-add"></ion-icon>
                  Register
                </ion-button>
              </ion-row>

            </ion-list>
          </ion-col>
        </ion-row>

      </form>
    </div>


</ion-content>
