<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content class="ion-margin ion-padding">
  <ion-card class="ion-margin ion-no-padding">

    <ion-row>
      <ion-card-title>
        <h2>
          Eventum Privacy Policy
        </h2>
      </ion-card-title>
    </ion-row>

    <ion-card-content>

      <p>Eventum is part of the Eventum Group which includes Eventum International and Eventum Interstellar.
        This privacy policy will explain how our organization uses the personal data we collect from you when you use
        our website.</p>
      <p>Topics:</p>
      <ul>
        <li>What data do we collect?</li>
        <li>How do we collect your data?</li>
        <li>How will we use your data?</li>
        <li>How do we store your data?</li>
        <li>Marketing</li>
        <li>What are your data protection rights?</li>
        <li>What are cookies?</li>
        <li>How do we use cookies?</li>
        <li>What types of cookies do we use?</li>
        <li>How to manage your cookies</li>
        <li>Privacy policies of other websites</li>
        <li>Changes to our privacy policy</li>
        <li>How to contact us</li>
        <li>How to contact the appropriate authorities</li>
      </ul>
      <h3>What data do we collect?</h3>
      <p>Eventum collects the following data:</p>
      <ul>
        <li>Personal identification information (Name, email address, phone number, etc.)</li>
      </ul>
      <h3>How do we collect your data?</h3>
      <p>You directly provide Eventum with most of the data we collect. We collect data and process data when
        you:</p>
      <ul>
        <li>Register online or place an order for any of our products or services.</li>
        <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.</li>
        <li>Use or view our website via your browser’s cookies.</li>
      </ul>
      <p>Eventum may also receive your data indirectly from the following sources:</p>
      <ul>
      </ul>
      <h3>How will we use your data?</h3>
      <p>Eventum collects your data so that we can:</p>
      <ul>
        <li>Process your order and manage your account.</li>
        <li>Email you with special offers on other products and services we think you might like.</li>
      </ul>
      <p>When Eventum processes your order, it may send your data to, and also use the resulting information from,
        credit reference agencies to prevent fraudulent purchases.</p>
      <h3>How do we store your data?</h3>
      <p>Eventum securely stores your data at [enter the location and describe security precautions taken].</p>
      <p>Eventum will keep your [enter type of data] for [enter time period]. Once this time period has expired, we
        will delete your data by [enter how you delete users’ data].</p>
      <h3>Marketing</h3>
      <p>Eventum would like to send you information about products and services of ours that we think you might
        like.</p>
      <p>If you have agreed to receive marketing, you may always opt out at a later date.</p>
      <p>You have the right at any time to stop Eventum from contacting you for marketing purposes or giving your
        data to other members of the Eventum Group.</p>
      <p>If you no longer wish to be contacted for marketing purposes, please <a href="/faq">click here.</a></p>
      <h3>What are your data protection rights?</h3>
      <p>Eventum would like to make sure you are fully aware of all of your data protection rights. Every user is
        entitled to the following:</p>
      <p><strong>The right to access</strong> – You have the right to request Eventum for copies of your personal
        data. We may charge you a small fee for this service.</p>
      <p><strong>The right to rectification</strong> – You have the right to request that Eventum correct any
        information you believe is inaccurate. You also have the right to request Eventum to complete the
        information you believe is incomplete.</p>
      <p><strong>The right to erasure</strong> – You have the right to request that Eventum erase your personal
        data, under certain conditions.</p>
      <p><strong>The right to restrict processing</strong> – You have the right to request that Eventum restrict the
        processing of your personal data, under certain conditions.</p>
      <p><strong>The right to object to processing</strong> – You have the right to object to Eventum’s processing
        of your personal data, under certain conditions.</p>
      <p><strong>The right to data portability</strong> – You have the right to request that Eventum transfer the
        data that we have collected to another organization, or directly to you, under certain conditions.</p>
      <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights,
        please contact us at our email:</p>
      <p>Call us at: 000 000 00 00</p>
      <p>Or write to us: Musterstrasse 1a, 1234 Musterstadt</p>
      <h3>Cookies</h3>
      <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor
        behavior information. When you visit our websites, we may collect information from you automatically through
        cookies or similar technology</p>
      <p>For further information, visit <a href="allaboutcookies.org">allaboutcookies.org</a>.</p>
      <h3>How do we use cookies?</h3>
      <p>Eventum uses cookies in a range of ways to improve your experience on our website, including:</p>
      <ul>
        <li>Keeping you signed in</li>
        <li>Understanding how you use our website</li>
      </ul>
      <h3>What types of cookies do we use?</h3>
      <p>There are a number of different types of cookies, however, our website uses:</p>
      <ul>
        <li>Functionality – Eventum uses these cookies so that we recognize you on our website and remember your
          previously selected preferences. These could include what language you prefer and location you are in. A mix
          of first-party and third-party cookies are used.
        </li>
        <li>Advertising – Eventum uses these cookies to collect information about your visit to our website, the
          content you viewed, the links you followed and information about your browser, device, and your IP address.
          Eventum sometimes shares some limited aspects of this data with third parties for advertising purposes. We
          may also share online data collected through cookies with our advertising partners. This means that when you
          visit another website, you may be shown advertising based on your browsing patterns on our website.
        </li>
      </ul>
      <h3>How to manage cookies</h3>
      <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your
        browser. However, in a few cases, some of our website features may not function as a result.</p>
      <h3>Privacy policies of other websites</h3>
      <p>The Eventum website contains links to other websites. Our privacy policy applies only to our website, so if
        you click on a link to another website, you should read their privacy policy.</p>
      <h3>Changes to our privacy policy</h3>
      <p>Eventum keeps its privacy policy under regular review and places any updates on this web page. This privacy
        policy was last updated on 23 November 2019.</p>
      <h3>How to contact us</h3>
      <p>If you have any questions about Eventum’s privacy policy, the data we hold on you, or you would like to
        exercise one of your data protection rights, please do not hesitate to contact us.</p>
      <p>Email us at: admin@mail.com</p>
      <p>Call us: 000 000 00 00</p>
      <p>Or write to us at: Musterstrasse 1a, 1234 Musterstadt</p>

    </ion-card-content>


  </ion-card>
</ion-content>
