<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content>

  <ion-card>
    <ion-row>
      <ion-card-title>
        <h2>
          Answers to common questions
        </h2>
      </ion-card-title>
    </ion-row>

    <ion-card-content>

      <h3>I forgot my password. How can I reset it?</h3>
      <p>Please contact our <a href="mailto:admin@mail.com">administrator</a>.</p>

      <h3>How do I delete my account?</h3>
      <p>Please contact our <a href="mailto:admin@mail.com">administrator</a>.</p>

    </ion-card-content>


  </ion-card>
</ion-content>
