<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content class="home-body">

  <div>

    <ion-card class="home-buttons">

      <ion-row>
        <ion-card-title>
          <h2>
            <ion-text color="light">Welcome!</ion-text>
          </h2>
        </ion-card-title>
      </ion-row>

      <!--
            <ion-row>
              <ion-card-content>
                <ion-text color="light"><p>Please log in or register to start using this event platform.</p></ion-text>
              </ion-card-content>
            </ion-row>
      -->

      <ion-grid>
      <ion-row class="ion-margin-top">
        <ion-col>
        <ion-button type="button" [routerLink]="['/about']" color="light" fill="outline" class="about" expand="block">
          <ion-icon slot="start" name="information-circle-outline" class="ion-padding-end"></ion-icon>
          <ion-text slot="end" class="">About</ion-text>
        </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col>
        <ion-button type="button" [routerLink]="['/login']" color="light" fill="outline" class="login" expand="block">
          <ion-icon slot="start" name="log-in" class="ion-padding-end"></ion-icon>
          Log in
        </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col>
        <ion-button type="button" [routerLink]="['/register']" color="light" fill="outline" class="register" expand="block">
          <ion-icon slot="start" name="person-add" class="ion-padding-end"></ion-icon>
          Register
        </ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>

    </ion-card>

  </div>
</ion-content>
