
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Event App
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-card>

      <ion-row>
        <ion-card-title>
          <h2>
            Welcome!
          </h2>
        </ion-card-title>
      </ion-row>

      <ion-row>
        <ion-card-content>
          <p>Please log in or register to start using this event platform.</p>
        </ion-card-content>

      </ion-row>
      <ion-row>
        <ion-button [routerLink]="['/login']">
          <ion-icon slot="start" name="log-in"></ion-icon>
          Log in
        </ion-button>

      </ion-row>
      <ion-row>
        <ion-button [routerLink]="['/register']">
          <ion-icon slot="start" name="person-add"></ion-icon>
          Register
        </ion-button>
      </ion-row>
    </ion-card>

  </ion-content>



