
ion-slide {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

#first-slide {
  --background: url(../../../assets/confetti.jpg) no-repeat center/cover fixed;
  background: url(../../../assets/confetti.jpg) no-repeat center/cover fixed;
  background-color: rgba(0, 0, 0, 0.1); // Tint color
  background-blend-mode: multiply;
}

#second-slide {
  --background: url(../../../assets/service.jpg) no-repeat center/cover fixed;
  background: url(../../../assets/service.jpg) no-repeat center/cover fixed;
  background-color: rgba(0, 0, 0, 0.3); // Tint color
  background-blend-mode: multiply;
}

#third-slide {
  --background: url(../../../assets/fire.jpg) no-repeat center/cover fixed;
  background: url(../../../assets/fire.jpg) no-repeat center/cover fixed;
  background-color: rgba(0, 0, 0, 0.2); // Tint color
  background-blend-mode: multiply;
}

#fourth-slide {
  --background: url(../../../assets/powder.jpg) no-repeat center/cover fixed;
  background: url(../../../assets/powder.jpg) no-repeat center/cover fixed;
  background-color: rgba(0, 0, 0, 0.2); // Tint color
  background-blend-mode: multiply;
}

.single-slide {
  color: #ffffff;
}

.join-button {
  margin-top: 30px;
  color: white;
  --color: white;
  background: none;
  --background: none;
  box-shadow: none;
  border: white;
  --border-color: white;
  --background-hover: white;
  --color-hover: black;
}

.join-button:hover {
  color: black;
  --color: black;
}


.next-button, .previous-button {
  background: none;
  --background: none;
  --background-hover: white;
  box-shadow: none !important;
  border: none;
  --border: none;
  --box-shadow: none;
}

.next-button:hover .next-icon, .previous-button:hover .previous-icon {
  color: black;
  --color: black;
}

.next-button {
  position: absolute;
  right: 5px;
  top: 50%;
}

.previous-button {
  position: absolute;
  left: 5px;
  top: 50%;
}

.next-icon, .previous-icon {
  color: white;
  --color: white;
}

.first-text, .second-text, .third-text {
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.column-text {
  font-size: 1.3em;
  line-height: 1.5em;
  margin: 0 5px;
  padding: 5px 0;
  max-width: 400px;
  text-align: justify;
}

.first-text {
  margin: 19px 0 0 0;
}

.second-text {
  margin-left: 30px;
  margin-top: 37px;
}

.third-text {
  margin-left: 60px;
  margin-top: 37px;
}

/*.end-box {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.19);
  padding: 50px;
  border-radius: 50px;
}*/

.end-text {
  margin-top: 10px;
  padding-top: 10px;
  font-size: 2.1em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left-column, .right-column {
  min-width: 200px;
}


.left-column {
  padding-right: 30px;
  padding-left: 5px;
  margin-left: auto;
  text-align: left;
}

.right-column {
  padding-left: 30px;
  padding-right: 5px;
  margin-right: auto;
}


@media (max-width: 650px) {
  .left-column {
    text-align: center;
  }
  .first-text, .second-text, .third-text {
    margin-left: 0;
  }

  .left-column, .right-column {
    margin: 3px;
    padding: 11px;
  }


}

/*

ion-content {
  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

ion-card {
  box-shadow: none !important;
  border: none !important;
}

.home-buttons {
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  max-width: 500px;
}
*/

