<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>


    <div class="registration-form">
      <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-col>
            <ion-list inset>


              <ion-item-divider class="ion-margin-top" color="dark" sticky="true">
                <ion-label>
                  <ion-icon class="divider-icon" slot="start" name="clipboard"></ion-icon>
                  Service Management
                </ion-label>
              </ion-item-divider>


              <ion-item-group  formArrayName="services">

                <ion-list *ngFor="let service of serviceGroup.controls; index as ix" inset>

                  <ion-item-divider class="ion-margin-top" color="dark" sticky="true">
                  </ion-item-divider>

                  <ion-item-group [formGroupName]="ix">
                    <div class="row">
                      <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-input type="text" name="name" formControlName="name"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Category</ion-label>
                        <ion-input type="text" name="category" formControlName="category"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Availability</ion-label>
                        <ion-input type="text" name="availability" formControlName="availability"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Place</ion-label>
                        <ion-input type="text" name="place" formControlName="place"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Price</ion-label>
                        <ion-input type="text" name="price" formControlName="price"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Quantity</ion-label>
                        <ion-input type="text" name="quantity" formControlName="quantity"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Description</ion-label>
                        <ion-input type="text" name="description" formControlName="description"></ion-input>
                      </ion-item>

                    </div>


                    <ion-button (click)="deleteService(ix)" slot="end" class="ion-margin-top">
                      <ion-icon slot="start" name="close"></ion-icon>
                      Delete Service
                    </ion-button>

                    <div class="ion-text-end">
                    <ion-button class="submit-btn"  type="submit" [disabled]="!serviceForm.valid">
                      <ion-icon slot="start" name="save"></ion-icon>
                      Save Service
                    </ion-button>
                    </div>

                  </ion-item-group>
                </ion-list>

                <div class="ion-text-end">
                  <ion-button (click)="addService()" slot="end" class="ion-margin-top">
                    <ion-icon slot="start" name="add"></ion-icon>
                    Add Service
                  </ion-button>
                </div>

              </ion-item-group>




            </ion-list>
          </ion-col>
        </ion-row>

      </form>
    </div>

  </ion-card>
</ion-content>
