<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>


    <ion-item-divider *ngIf="true" class="" color="dark" sticky="true">
      <ion-label>
        <ion-icon class="divider-icon" slot="start" name="clipboard"></ion-icon>
        Your Saved Events
      </ion-label>
    </ion-item-divider>

    <form class="events-form" [formGroup]="savedEvents">

      <ion-item-group formArrayName="events">


        <ion-list *ngFor="let event of getControls(); index as ix" inset>

          <ion-button *ngIf="!this.helperArray[ix]; else hideThisEvent" class="submit-btn ion-no-margin"
                      expand="full"
                      type="button"
                      (click)="showEvent(ix)" color="dark">
            <ion-icon slot="start" name="arrow-dropdown"></ion-icon>
            Show {{getProperty(ix, 'name')}}
          </ion-button>
          <ng-template #hideThisEvent>
            <ion-button class="submit-btn ion-no-margin" expand="full" type="button" (click)="hideEvent(ix)"
                        color="dark">
              <ion-icon slot="start" name="arrow-dropup"></ion-icon>
              Hide {{getProperty(ix, 'name')}}
            </ion-button>
          </ng-template>

          <ion-item-group [formGroupName]="ix" [hidden]="!this.helperArray[ix]">
            <div class="row">

              <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input type="text" name="name" formControlName="name"></ion-input>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of eventValidation.name">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('name').hasError(validation.type) && (getControls()[ix].get('name').dirty || getControls()[ix].get('name').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>


              <ion-item>
                <ion-label position="floating">Place</ion-label>
                <ion-input type="text" name="place" formControlName="place"></ion-input>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of eventValidation.place">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('place').hasError(validation.type) && (getControls()[ix].get('place').dirty || getControls()[ix].get('place').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Date</ion-label>
                <ion-input type="text" name="date" formControlName="date"></ion-input>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of eventValidation.date">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('date').hasError(validation.type) && (getControls()[ix].get('date').dirty || getControls()[ix].get('date').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>



              <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-textarea type="text" name="description" formControlName="description" spellcheck
                              rows="5" autoGrow="false"></ion-textarea>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of eventValidation.description">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('description').hasError(validation.type) && (getControls()[ix].get('description').dirty || getControls()[ix].get('description').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

            </div>


            <ion-button (click)="deleteEvent(ix)" slot="end" class="ion-margin-top">
              <ion-icon slot="start" name="close"></ion-icon>
              Delete Event
            </ion-button>

            <div class="ion-text-end">
              <ion-button (click)="saveEvent(ix)" class="submit-btn" type="submit" [disabled]="!getValidity(ix)">
                <ion-icon slot="start" name="save"></ion-icon>
                Save Event
              </ion-button>
            </div>

          </ion-item-group>


        </ion-list>

      </ion-item-group>

    </form>


  </ion-card>

  <ion-card class="ion-margin-top">

    <ion-item-divider color="dark" sticky="true">
      <ion-label>
        <ion-icon class="divider-icon" slot="start" name="clipboard"></ion-icon>
        Add a New Event
      </ion-label>
    </ion-item-divider>


    <form *ngIf="showNewEventForm" [formGroup]="newEventForm" (ngSubmit)="saveNewEvent()">

      <ion-list inset>

        <ion-item-group>

          <div class="row">
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" name="name" formControlName="name"></ion-input>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of eventValidation.name">
                <div class="error-message"
                     *ngIf="newEventForm.get('name').hasError(validation.type) && (newEventForm.get('name').dirty || newEventForm.get('name').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>



            <ion-item>
              <ion-label position="floating">Place</ion-label>
              <ion-input type="text" name="place" formControlName="place"></ion-input>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of eventValidation.place">
                <div class="error-message"
                     *ngIf="newEventForm.get('place').hasError(validation.type) && (newEventForm.get('place').dirty || newEventForm.get('place').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Date</ion-label>
              <ion-input type="text" name="date" formControlName="date"></ion-input>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of eventValidation.date">
                <div class="error-message"
                     *ngIf="newEventForm.get('date').hasError(validation.type) && (newEventForm.get('date').dirty || newEventForm.get('date').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>



            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-input type="text" name="description" formControlName="description"></ion-input>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of eventValidation.description">
                <div class="error-message"
                     *ngIf="newEventForm.get('description').hasError(validation.type) && (newEventForm.get('description').dirty || newEventForm.get('description').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>


          </div>

        </ion-item-group>

      </ion-list>

      <ion-button (click)="deleteNewEvent()" slot="end" class="ion-margin-top">
        <ion-icon slot="start" name="close"></ion-icon>
        Remove Event
      </ion-button>

      <div class="ion-text-end">
        <ion-button class="submit-btn" type="submit" [disabled]="!newEventForm.valid">
          <ion-icon slot="start" name="save"></ion-icon>
          Save Event
        </ion-button>
      </div>

    </form>


    <div *ngIf="!showNewEventForm">
      <ion-button (click)="addNewEvent()" slot="end" class="submit-btn ion-no-margin" expand="full"
                  type="button">
        <ion-icon slot="start" name="add"></ion-icon>
        Add Event
      </ion-button>
    </div>

  </ion-card>
</ion-content>
