<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>


    <div class="registration-form">
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-col>
            <ion-list inset>


              <ion-item-divider class="ion-margin-top" color="dark" sticky="true">
                <ion-label>
                  <ion-icon class="divider-icon" slot="start" name="clipboard"></ion-icon>
                  Event Management
                </ion-label>
              </ion-item-divider>




              <ion-item-group formArrayName="events">

                <ion-list *ngFor="let event of eventGroup.controls; index as ix" inset>

                  <ion-item-divider class="ion-margin-top" color="dark" sticky="true">
                  </ion-item-divider>

                  <ion-item-group [formGroupName]="ix">
                    <div class="row">
                      <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-input type="text" name="name" formControlName="name"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Category</ion-label>
                        <ion-input type="text" name="category" formControlName="category"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Date</ion-label>
                        <ion-input type="text" name="date" formControlName="date"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Place</ion-label>
                        <ion-input type="text" name="place" formControlName="place"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Description</ion-label>
                        <ion-input type="text" name="description" formControlName="description"></ion-input>
                      </ion-item>
                    </div>

                      <ion-button (click)="deleteEvent(ix)" slot="end" class="ion-margin-top">
                        <ion-icon slot="start" name="close"></ion-icon>
                        Delete Event
                      </ion-button>

                    <div class="ion-text-end">
                    <ion-button class="submit-btn" type="submit" [disabled]="!eventForm.valid">
                      <ion-icon slot="start" name="save"></ion-icon>
                      Save Event
                    </ion-button>
                    </div>

                  </ion-item-group>
                </ion-list>

                <div class="ion-text-end">
                  <ion-button (click)="addEvent()" slot="end">
                    <ion-icon slot="start" name="add"></ion-icon>
                    Add Event
                  </ion-button>
                </div>

              </ion-item-group>


            </ion-list>
          </ion-col>
        </ion-row>

      </form>
    </div>

  </ion-card>
</ion-content>
