<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>


<ion-content>
  <ion-card>



    <div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <fieldset>


                <ion-item>
                  <ion-label position="floating">E-Mail address</ion-label>
                  <ion-input type="email" name="email" formControlName="email" autocomplete="email" required></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of loginMessages.email">
                    <div class="error-message"
                         *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" name="password" formControlName="password" autocomplete="current-password" required></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of loginMessages.password">
                    <div class="error-message"
                         *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

              </fieldset>

              <ion-row>
                <ion-button [disabled]="!loginForm.valid" class="submit-btn" color="success" expand="full"
                            type="submit">
                  <ion-icon name="log-in" slot="start"></ion-icon>
                  Login
                </ion-button>
              </ion-row>

              <ion-row>
                <ion-button [routerLink]="['/terms']" class="terms" color="secondary" expand="block" fill="outline"
                            type="button">
                  <ion-icon name="book" slot="start"></ion-icon>
                  Terms
                </ion-button>
              </ion-row>

            </ion-list>
          </ion-col>
        </ion-row>

      </form>
    </div>

  </ion-card>
</ion-content>
