
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Terms
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>

    <ion-row>
      <ion-card-title>
        <h2>
          Terms & Conditions
        </h2>
      </ion-card-title>
    </ion-row>

    <ion-row>
      <ion-card-content>
        <p>Please read these terms and conditions carefully.</p>
      </ion-card-content>
    </ion-row>

</ion-card>

</ion-content>



