<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content class="ion-margin ion-padding">
  <ion-card class="constrained-card ion-margin ion-no-padding">

    <ion-card-header class="ion-no-margin" color="dark">
      <ion-card-title>
        <ion-label class="ion-text-wrap">
          Sorry!
        </ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="page-text ion-margin ion-padding">
      <p>The page you were looking for doesn't exist.</p>
    </ion-card-content>

    <ion-img src="../../../../assets/oops.jpg" alt="page not found"></ion-img>


  </ion-card>
</ion-content>
