<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registered
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>

    <ion-row>
      <ion-card-content>
        <p>Thank you for registering! Your account needs to be approved by an administrator. We will send you an e-mail
          as soon as this is done.</p>
      </ion-card-content>
    </ion-row>


  </ion-card>
</ion-content>
