<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>


<ion-content>
  <ion-card>


    <ion-card-content>

      <ion-button class="terms ion-text-capitalize" expand="block" fill="outline" href="/faq"
                  routerDirection="forward" target="_blank" type="button">
              <span class="ion-text-left">Frequently Asked Questions
              <ion-icon class="left-margin" name="open"></ion-icon></span>
      </ion-button>

      <ion-button class="terms ion-text-capitalize" expand="block" fill="outline" href="/terms-conditions"
                  routerDirection="forward" target="_blank" type="button">
              <span class="ion-text-left">Terms & Conditions
              <ion-icon class="left-margin" name="open"></ion-icon></span>
      </ion-button>

      <ion-button class="terms ion-text-capitalize" expand="block" fill="outline" href="/privacy-policy"
                  routerDirection="forward" target="_blank" type="button">
              <span class="ion-text-left">Privacy Policy
              <ion-icon class="left-margin" name="open"></ion-icon></span>
      </ion-button>

    </ion-card-content>

  </ion-card>
</ion-content>
