<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content class="ion-margin ion-padding">
  <div class="about-page">
    <ion-card class="ion-margin ion-no-padding">
      <ion-card-content class="ion-no-margin ion-no-padding">

        <ion-button class="ion-no-margin" expand="full" href="/faq"
                    routerDirection="forward" type="button">
          <ion-icon slot="start" name="help" class="button-icon"></ion-icon>
          Frequently Asked Questions
        </ion-button>

        <ion-button class="ion-no-margin form-button" expand="full"
                    href="/terms-conditions"
                    routerDirection="forward" type="button">
          <ion-icon slot="start" name="book" class="button-icon"></ion-icon>
          Terms & Conditions
        </ion-button>

        <ion-button class="ion-no-margin form-button" expand="full"
                    href="/privacy-policy"
                    routerDirection="forward" type="button">
          <ion-icon slot="start" name="finger-print" class="button-icon"></ion-icon>
          Privacy Policy
        </ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
