<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>

    <ion-row>
      <ion-card-content>
        <p>What it is and why you should join!</p>
      </ion-card-content>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item>
            <p></p>
          </ion-item>


          <ion-item>
          </ion-item>

          <ion-item>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
