ion-content {
  .about-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

ion-card {
  max-width: 400px;
}
