<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content class="ion-margin ion-padding">
  <ion-card class="ion-margin ion-no-padding">

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-list class="ion-no-margin ion-no-padding" *ngIf="servicesLoaded">

          <ion-item-divider class="page-divider ion-no-margin" color="dark" sticky="true">
            <ion-icon class="divider-icon" slot="start" name="information-circle"></ion-icon>
            <ion-label class="ion-text-wrap">
              Service Information
            </ion-label>
          </ion-item-divider>

          <ion-item>
            <ion-note slot="start">Service Provider</ion-note>
            <ion-label><a [routerLink]="['/user/profile/', providerId]">
              {{providerName}}
            </a>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Name</ion-note>
            <ion-label>{{service.name}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Category</ion-note>
            <ion-label>{{service.categoryName}}</ion-label>
          </ion-item>


          <ion-item>
            <ion-note slot="start">Description</ion-note>
            <ion-label>{{service.description}}</ion-label>
          </ion-item>


          <ion-item>
            <ion-note slot="start">Price</ion-note>
            <ion-label>{{service.price}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Currently offered</ion-note>
            <ion-label>{{service.available}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Availability</ion-note>
            <ion-label>{{service.availability}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Place</ion-note>
            <ion-label>{{service.place}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Quantity</ion-note>
            <ion-label>{{service.quantity}}</ion-label>
          </ion-item>


          <ion-item-divider *ngIf="viewerIsEventManager && eventsLoaded" class="page-divider ion-margin-top"
                            color="dark" sticky="true">
            <ion-icon class="divider-icon" slot="start" name="basket"></ion-icon>
            <ion-label>
              You can book this service
            </ion-label>
          </ion-item-divider>

          <form [formGroup]="bookingForm" (ngSubmit)="bookService()">

            <ion-list-header>
              <ion-label>Select the event for which you want to book this service and optionally add a short
                message.
              </ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label position="floating">Message</ion-label>
              <ion-input formControlName="message" name="message"
                         type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of bookingMessages.message">
                <ion-chip class="validation-chip" color="danger" outline="true"
                          *ngIf="bookingForm.get('message').hasError(validation.type) && (bookingForm.get('message').dirty || bookingForm.get('message').touched)">
                  <ion-icon name="warning"></ion-icon>
                  <ion-label class="ion-text-wrap">
                    {{validation.message}}
                  </ion-label>
                </ion-chip>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Event</ion-label>
              <ion-select interface="popover" name="eventId" formControlName="eventId">
                <ion-select-option *ngFor="let event of events"
                                   [value]="event.id">{{event.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of bookingMessages.events">
                <ion-chip class="validation-chip" color="danger" outline="true"
                          *ngIf="bookingForm.get('eventId').hasError(validation.type) && (bookingForm.get('eventId').dirty || bookingForm.get('eventId').touched)">
                  <ion-icon name="warning"></ion-icon>
                  <ion-label class="ion-text-wrap">
                    {{validation.message}}
                  </ion-label>
                </ion-chip>
              </ng-container>
            </div>


            <ion-button class="submit-btn ion-no-margin" expand="full" type="submit"
                        [disabled]="!bookingForm.valid"
            >
              <ion-icon class="button-icon" slot="start" name="basket"></ion-icon>
              Book this Service
            </ion-button>

          </form>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
