<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>


    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item-divider class="ion-margin-top" color="dark" sticky="true">
            <ion-label>
              <ion-icon class="divider-icon" slot="start" name="mail"></ion-icon>
              Service Information
            </ion-label>
          </ion-item-divider>

          <ion-item>
            <ion-note slot="start">Service Provider</ion-note>
            <ion-label><a href="/user/profile/{{providerId}}">
              {{providerName}}
            </a>
              </ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Name</ion-note>
            <ion-label>{{service.name}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Category</ion-note>
            <ion-label>{{service.categoryName}}</ion-label>
          </ion-item>


          <ion-item>
            <ion-note slot="start">Description</ion-note>
            <ion-label>{{service.description}}</ion-label>
          </ion-item>


          <ion-item>
            <ion-note slot="start">Price</ion-note>
            <ion-label>{{service.price}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Currently offered</ion-note>
            <ion-label>{{service.available}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Availability</ion-note>
            <ion-label>{{service.availability}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Place</ion-note>
            <ion-label>{{service.place}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-note slot="start">Quantity</ion-note>
            <ion-label>{{service.quantity}}</ion-label>
          </ion-item>

          <ion-row *ngIf="viewerIsEventManager" class="ion-margin-top">

            <ion-item-divider *ngIf="eventsLoaded" class="ion-margin-top" color="dark" sticky="true">
              <ion-label>
                <ion-icon class="divider-icon" slot="start" name="basket"></ion-icon>
                You can book this service
              </ion-label>
            </ion-item-divider>

            <form [formGroup]="bookingForm" (ngSubmit)="bookService()">
              <ion-row>
                <ion-col>
                  <ion-list inset>
                    <ion-list-header>
                      <ion-label>Select the event for which you want to book this service and optionally add a short message.</ion-label>
                    </ion-list-header>

                    <ion-item>
                      <ion-label position="floating">Message</ion-label>
                      <ion-input formControlName="message" name="message"
                                 type="text"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of bookingMessages.message">
                        <div class="error-message"
                             *ngIf="bookingForm.get('message').hasError(validation.type) && (bookingForm.get('message').dirty || bookingForm.get('message').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon>
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>

                    <ion-item>
                      <ion-label position="floating">Event</ion-label>
                      <ion-select interface="popover" name="eventId" formControlName="eventId">
                        <ion-select-option *ngFor="let event of events"
                                           [value]="event.key">{{event.value}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of bookingMessages.events">
                        <div class="error-message"
                             *ngIf="bookingForm.get('eventId').hasError(validation.type) && (bookingForm.get('eventId').dirty || bookingForm.get('eventId').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon>
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>

                      <ion-button  class="submit-btn" expand="full" type="submit"
                                   [disabled]="!bookingForm.valid">
                        <ion-icon name="basket" slot="start"></ion-icon>
                        Book this Service
                      </ion-button>

                  </ion-list>
                </ion-col>
              </ion-row>

            </form>



          </ion-row>

        </ion-list>
      </ion-col>
    </ion-row>


  </ion-card>
</ion-content>
