<ion-header>
  <app-header [title]="title">
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>

    <ion-item-divider *ngIf="loadedServices" class="" color="dark" sticky="true">
      <ion-label>
        <ion-icon class="divider-icon" slot="start" name="clipboard"></ion-icon>
        Your Saved Services
      </ion-label>
    </ion-item-divider>

    <form class="services-form" [formGroup]="savedServices">

      <ion-item-group formArrayName="services">

        <ion-list *ngFor="let service of getControls(); index as ix">

          <ion-button *ngIf="!this.helperArray[ix]; else hideThisService" class="submit-btn ion-no-margin"
                      expand="full"
                      type="button"
                      (click)="showService(ix)" color="primary">
            <ion-icon slot="start" name="arrow-dropdown"></ion-icon>
            Show {{getProperty(ix, 'name')}}
          </ion-button>
          <ng-template #hideThisService>
            <ion-button class="submit-btn ion-no-margin" expand="full" type="button" (click)="hideService(ix)"
                        color="tertiary">
              <ion-icon slot="start" name="arrow-dropup"></ion-icon>
              Hide {{getProperty(ix, 'name')}}
            </ion-button>
          </ng-template>

          <ion-item-group [formGroupName]="ix" [hidden]="!this.helperArray[ix]">
            <div class="row">

              <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input type="text" name="name" formControlName="name"></ion-input>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of serviceValidation.name">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('name').hasError(validation.type) && (getControls()[ix].get('name').dirty || getControls()[ix].get('name').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Category</ion-label>
                <ion-select interface="popover" name="categoryId" formControlName="categoryId">
                  <ion-select-option *ngFor="let category of categories"
                                     [value]="category.id">{{category.name}}</ion-select-option>
                </ion-select>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of serviceValidation.category">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('categoryId').hasError(validation.type) && (getControls()[ix].get('categoryId').dirty || getControls()[ix].get('categoryId').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label>Currently offered</ion-label>
                <ion-toggle slot="start" name="available" formControlName="available" color="dark"></ion-toggle>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of serviceValidation.available">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('available').hasError(validation.type) && (getControls()[ix].get('available').dirty || getControls()[ix].get('available').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Availability</ion-label>
                <ion-input type="text" name="availability" formControlName="availability"></ion-input>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of serviceValidation.availability">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('availability').hasError(validation.type) && (getControls()[ix].get('availability').dirty || getControls()[ix].get('availability').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Place</ion-label>
                <ion-input type="text" name="place" formControlName="place"></ion-input>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of serviceValidation.place">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('place').hasError(validation.type) && (getControls()[ix].get('place').dirty || getControls()[ix].get('place').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Price</ion-label>
                <ion-input type="text" name="price" formControlName="price"></ion-input>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of serviceValidation.price">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('price').hasError(validation.type) && (getControls()[ix].get('price').dirty || getControls()[ix].get('price').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Quantity</ion-label>
                <ion-input type="text" name="quantity" formControlName="quantity"></ion-input>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of serviceValidation.quantity">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('quantity').hasError(validation.type) && (getControls()[ix].get('quantity').dirty || getControls()[ix].get('quantity').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-textarea type="text" name="description" formControlName="description" spellcheck
                             rows="5" autoGrow="false"></ion-textarea>
              </ion-item>
              <div class="validation-errors ion-text-wrap">
                <ng-container *ngFor="let validation of serviceValidation.description">
                  <div class="error-message"
                       *ngIf=" getControls()[ix].get('description').hasError(validation.type) && (getControls()[ix].get('description').dirty || getControls()[ix].get('description').touched)">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

            </div>


            <ion-button (click)="deleteService(ix)" slot="end" class="ion-margin-top">
              <ion-icon slot="start" name="close"></ion-icon>
              Delete Service
            </ion-button>

            <div class="ion-text-end">
              <ion-button (click)="saveService(ix)" class="submit-btn" type="submit" [disabled]="!getValidity(ix)">
                <ion-icon slot="start" name="save"></ion-icon>
                Save Service
              </ion-button>
            </div>

          </ion-item-group>
        </ion-list>
      </ion-item-group>
    </form>
  </ion-card>

  <ion-card class="ion-margin-top">

    <ion-item-divider *ngIf="showNewServiceForm" color="dark" sticky="true">
      <ion-label>
        <ion-icon class="divider-icon" slot="start" name="clipboard"></ion-icon>
        Add a New Service
      </ion-label>
    </ion-item-divider>

    <form *ngIf="showNewServiceForm" [formGroup]="newServiceForm" (ngSubmit)="saveNewService()">

      <ion-list>
        <ion-item-group>
          <div class="row">

            <ion-item>
              <ion-label position="floating">Name <ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" name="name" formControlName="name"></ion-input>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of serviceValidation.name">
                <div class="error-message"
                     *ngIf="newServiceForm.get('name').hasError(validation.type) && (newServiceForm.get('name').dirty || newServiceForm.get('name').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Category <ion-text color="danger">*</ion-text></ion-label>
              <ion-select interface="popover" name="categoryId" formControlName="categoryId">
                <ion-select-option *ngFor="let category of categories"
                                   [value]="category.id">{{category.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of serviceValidation.category">
                <div class="error-message"
                     *ngIf="newServiceForm.get('categoryId').hasError(validation.type) && (newServiceForm.get('categoryId').dirty || newServiceForm.get('categoryId').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label>Currently offered <ion-text color="danger">*</ion-text></ion-label>
              <ion-toggle slot="start" name="available" formControlName="available" color="dark" checked></ion-toggle>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of serviceValidation.available">
                <div class="error-message"
                     *ngIf="newServiceForm.get('available').hasError(validation.type) && (newServiceForm.get('available').dirty || newServiceForm.get('available').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Available dates and times <ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" name="availability" formControlName="availability"></ion-input>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of serviceValidation.availability">
                <div class="error-message"
                     *ngIf="newServiceForm.get('availability').hasError(validation.type) && (newServiceForm.get('availability').dirty || newServiceForm.get('availability').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Place <ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" name="place" formControlName="place"></ion-input>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of serviceValidation.place">
                <div class="error-message"
                     *ngIf="newServiceForm.get('place').hasError(validation.type) && (newServiceForm.get('place').dirty || newServiceForm.get('place').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Price <ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" name="price" formControlName="price"></ion-input>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of serviceValidation.price">
                <div class="error-message"
                     *ngIf="newServiceForm.get('price').hasError(validation.type) && (newServiceForm.get('price').dirty || newServiceForm.get('price').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Quantity <ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" name="quantity" formControlName="quantity"></ion-input>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of serviceValidation.quantity">
                <div class="error-message"
                     *ngIf="newServiceForm.get('quantity').hasError(validation.type) && (newServiceForm.get('quantity').dirty || newServiceForm.get('quantity').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Description <ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" name="description" formControlName="description"></ion-input>
            </ion-item>
            <div class="validation-errors ion-text-wrap">
              <ng-container *ngFor="let validation of serviceValidation.description">
                <div class="error-message"
                     *ngIf="newServiceForm.get('description').hasError(validation.type) && (newServiceForm.get('description').dirty || newServiceForm.get('description').touched)">
                  <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

          </div>
        </ion-item-group>
      </ion-list>

      <ion-button (click)="deleteNewService()" slot="end" class="ion-margin-top">
        <ion-icon slot="start" name="close"></ion-icon>
        Remove Service
      </ion-button>

      <div class="ion-text-end">
        <ion-button class="submit-btn" type="submit" [disabled]="!newServiceForm.valid">
          <ion-icon slot="start" name="save"></ion-icon>
          Save Service
        </ion-button>
      </div>

    </form>


    <div *ngIf="!showNewServiceForm">
      <ion-button (click)="addNewService()" slot="end" class="submit-btn ion-no-margin" expand="full"
                  type="button" color="success">
        <ion-icon slot="start" name="add"></ion-icon>
        Add Service
      </ion-button>
    </div>

  </ion-card>
</ion-content>
